<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .block {
  display: block;
  width:20%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
</style>



    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Sign Up Form by Colorlib</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Font Icon -->
    <!-- <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <!-- Main css -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <style>




body {
  background-color:white
}
</style>
</head>





<body background-color:#f7f7f7>
    <div class="container-fluid">
                   <div class="jumbotron" style="background-color:#292b2c">
                       <div class="form-inline">
                           <div class="col-3 text-light">
                               <h1>Bank_1</h1>
                           </div>
                           <div class="text-center text-info">
                               <h1>Decentralized Credit Score System (DCSS)</h1>
                           </div>
                       </div>
                   </div>
                   <a href="/home">
                    <button type="submit" class="btn btn-info offset-5 col-1" >Home  </button>
                    </a>
  
                    <a href = "/add">
                        <button type="submit" class="btn btn-info col-1.5" >Add Record</button>
                        </a>
  
                      </a>
                      <a href="/find">
                        <button type="submit" class="btn btn-info col-1" > Find  </button>
                      </a>
  
                    <a href="/clientLoan">
                     <button type="sub mit" class="btn btn-info col-1.5" >Client Loan</button>
                
                     <a href="/clientLoanInfo">
                        <button type="sub mit" class="btn btn-info col-1.5" >Loan Information</button>
                   </a>


                 
                   


                      
          <div class="container">
            
            <div class="alert alert-success" >
              <strong> Success !</strong>  <%= foundRecord%>!
              </div>
         

            <div class="jumbotron " style="background-color:#D5DBDB ;">
              
                <div class="row">  
                <label class="control-label col-sm-2 my-3">First Name  :</label>
                <label class="control-label col-sm-1  my-3"> <%= loanIssuedInfo.fname %> </label> 
                <label class="control-label offset-2 col-sm-2  my-3">Last Name  :</label>
                <label class="control-label col-sm-3  my-3"><%= loanIssuedInfo.lname %> </label> 
              </div>

            <div class="row">
                  <label class="control-label col-sm-2 my-3">CNIC  :</label>
                  <label class="control-label col-sm-1  my-3"> <%= loanIssuedInfo.CNIC %> </label>    
                  <label class="control-label offset-2 col-sm-2 my-3">Credit Type  :</label>
                <label class="control-label col-sm-3  my-3"> <%= loanIssuedInfo.credit_Type %></label> 
            </div>
            
            <div class="row">
                <label class="control-label col-sm-2 my-3">Loan Amount  :</label>
               <label class="control-label col-sm-1  my-3">  <%= loanIssuedInfo.loan_Amount %></label> 
                <label class="control-label offset-2 col-sm-2  my-3">Loan Issue Date  :</label>
                 <label class="control-label col-sm-3  my-3"><%= loanIssuedInfo.loan_Issue_Date %> </label>    
                </div>

             <div class="row">
                <label class="control-label col-sm-2 my-3">Payment Plan  :</label>
          <label class="control-label col-sm-1  my-3">  <%= loanIssuedInfo.paymant_Plan %>  </label> 
                <label class="control-label offset-2 col-sm-2  my-3">Instalment Per Month   :</label>
                <label class="control-label col-sm-3  my-3"><%= loanIssuedInfo.Installment_Per_Month %> </label>  
             </div>
              
             <div class="row">
                <label class="control-label col-sm-2 my-3">Payment Date  :</label>
               <label class="control-label col-sm-1  my-3">  <%= loanIssuedInfo.paymant_Date %>  </label> 

               <label class="control-label offset-2 col-sm-2  my-3"><h2>Credit Score :</h2></label>
                <label class="control-label col-sm-3  my-3"><h2> <%= loanIssuedInfo.final_Score %>  </h2></label>  
             </div>
            </div>
          </div>
        </div>



                                 
       
        <form name="myform" method='POST' action="/InstalmantInfo" onsubmit="return validateform()">
        
          <div class="container" style="background-color:#ffff">
            <div class="row ">

              
              <h6> paymant No :</h6>  <input type="text" name="paymantNo" class="col-1 offset-0">

                   <h6> Month Date :</h6>  <input type="text" name="paymantMonth" class="col-1 offset-0">       
                             
                  <h6> Amount :</h6>  <input type="text" name="PayingAmount" class="col-1.5 offset-0">

                  <button type="submit" class="btn btn-info  offset-1 col-2" >Add Instalmant</button>
            
            </div>
          </form>
        </div>


        
        <% var date = loanIssuedInfo.loan_Issue_Date %>
        <% var k = date.split("/") 
           var month=k[1]
           var year=k[2]
        %>
        

        <div class="container">
          <table class="table">
            <thead class="table table-striped ">
              <tr>
                <th style="width:0.5%" >Payment No.</th>
                <th  style="width:5%" >Payment Date</th>
                <th style="width:5%">Instalment Per Month</th>
                <th style="width:5%">Paid Amount</th>
                <th style="width:5%">Status</th>
                
              </tr>
            </thead>
            <tbody>
              <% for(var i=1; i <= loanIssuedInfo.paymant_Plan*12; i++) { %>
                <tr>
                  <td><%= i %></td>
                  <td>
                    <% month= parseInt(month)+1 %>
                     
                   <%=loanIssuedInfo.paymant_Date%>/<%= month %>/<%= year %>
                   <% if (month == 12) {
                    month = 0
                    year = parseInt(year)+1
                    } %>

                  </td>
                  <td><%= loanIssuedInfo.Installment_Per_Month %></td>
                  <td> <%= monthObjectKeys[i-1]%> </td>
                  <td> <% if (monthObjectKeys[i-1] > 0) { %>
                        Paid
                  <% } else {%>
                        Unpaid
                    <% } %>  
                </td>
                </tr>
             <% } %>
            </tbody>
          </table>
        </div>
       

           <!-- JS -->
           

           <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
         </script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

